<!-- ///////////////////////////////HEADER//////////////////////////////////////////////////// -->
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand" href="#"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class='navbar-nav mr-auto nav nav-tabs collapse navbar-collapse card-header-tabs'>
                    <li class='nav-item'>
                        <a class='nav-link' href='index'>Home</a>
                    </li>
                    <li class='nav-item'>
                        <a class='nav-link' href='SignIn'>Sign In</a>
                    </li>
                    <li class='nav-item'>
                        <a class='nav-link' href='SignUp'>Sign Up</a>
                    </li>

                    <li class='nav-item'>
                        <a class='nav-link' href='lost'>Report Lost Item</a>
                    </li>
                    <li class='nav-item'>
                        <a class='nav-link' href='found'>Report Found Item</a>
                    </li>
                    <li class='nav-item'>
                        <a class='nav-link active' href='browse-items'>Browse Lost and Found Items</a>
                    </li>
                </ul>
                <br>
                <form class="form-inline">
                    <input id="searchBarInput" class="form-control mr-sm-2" type="search" placeholder="Search by ID" aria-label="Search">
                    <button id="searchBarBtn" class="btn btn-primary my-2 my-sm-0" type="submit">Search</button>
                </form>
        </nav>
<div class='card text-center' id='browseBG'>
    {{!-- <div class='card-header'>
        </div> --}}

        <!-- /////////////////////////////////////Tables and Drop Downs///////////////// -->
<div class='container'>
      {{!-- <hr> --}}
      <br>
      <!-- ////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
      <div class='container text-center'>
        <h2>FIND THE ITEM YOU LOST</h2>
        <hr>
      </div>
      </div>
        <div class='notSignedMessage'></div>
        <div>
            <form id="searchEntry">
                <div class='input-group mb-3'>
                    <div class='input-group-prepend'>
                        <label class='input-group-text' for='inputGroupSelect01'>List Type</label>
                    </div>
                    <select class='custom-select' id='searchTableID'>
                        <option selected>Choose...</option>
                        <option value='Lost Items'>Items People Have Lost</option>
                        <option value='Found Items'>Items People Have Found</option>
                    </select>
                </div>
                <!-- ///////////////////////////////Categories///////////////////////////////////////////// -->
                <div class='input-group mb-3'>
                    <div class='input-group-prepend'>
                        <label class='input-group-text' for='inputGroupSelect01'>Category</label>
                    </div>
                    <select class='custom-select' id='searchCategoryID' size='1' onchange='makeSubmenu(this.value)'>
                        <option selected>Choose...</option>
                        <option>Electronics</option>
                        <option>Wallet</option>
                        <option>Clothing</option>
                        <option>Accessories</option>
                        <option>Documents</option>
                        <option>Other</option>
                    </select>

                    <select class='custom-select' id='categorySelect' size='1'>
                        <option selected>Choose...</option>
                        <option></option>
                    </select>
                </div>
                <!-- ///////////////////////////////Color///////////////////////////////////////////// -->
                <div class='input-group mb-3'>
                    <div class='input-group-prepend'>
                        <label class='input-group-text' for='inputGroupSelect01'>Color</label>
                    </div>
                    <select class='custom-select' id='searchColorID'>
                        <option selected>Choose...</option>
                        <option value='Red'>Red</option>
                        <option value='Blue'>Blue</option>
                        <option value='Green'>Green</option>
                        <option value='Yellow'>Yellow</option>
                        <option value='Orange'>Orange</option>
                        <option value='Purple'>Purple</option>
                        <option value='White'>White</option>
                        <option value='Black'>Black</option>
                        <option value='Grey'>Grey</option>
                        <option value='Pink'>Pink</option>
                        <option value='Brown'>Brown</option>
                        <option value='Mix of colors'>Mix of many colors</option>
                    </select>
                </div>
                <!-- ////////////////////////////////////Size//////////////////////////////////////////// -->
                <div class='input-group mb-3'>
                    <div class='input-group-prepend'>
                        <label class='input-group-text' for='inputGroupSelect01'>Size</label>
                    </div>
                    <select class='custom-select' id='searchSizeID'>
                        <option selected>Choose...</option>
                        <option value='Small (30cm and under)'>Small (30cm and under)</option>
                        <option value='Medium (Larger than 30cm)'>Medium (Larger than 30cm)</option>
                        <option value='Large (Larger than 60cm)'>Large (Larger than 60cm)</option>
                    </select>
                </div>

                <!-- //////////////////////////////////////////////////////////////////////////////////////////// -->
        </div>
        <div class='container'>
            <button type='button' id="searchBtn" class='btn btn-primary btn-lg btn-block'>SUBMIT</button>
        </div>
        </form>
        <br>
    </div>
</div>

<!-- ///////////////////////////////Table appears here///////////////////////////////////////////////// -->
<table class="lostfoundTables" id="lostTableDisplay" style="width:100%">
    <h7>Lost Item Requests</h7>
    <tr>
        <th>Lost Item ID</th>
        <th>Category</th>
        <th>Subcategory</th>
        <th>Size</th>
        <th>Color</th>
        <th>Location</th>
        <th>Description</th>
        <th>Claim?</th>
    </tr>
    {{#each lostItems}}
    <tr>
        <td>{{this.id}}</td>
        <td>{{this.category}}</td>
        <td>{{this.subcategory}}</td>
        <td>{{this.size}}</td>
        <td>{{this.color}}</td>
        <td>{{this.location}}</td>
        <td>{{this.description}}</td>
        <td>
            <button id="claim-btn-ls" class = "claim-btn-lost" value="{{this.id}}" type="submit">I Found This</button>
        </td>
    </tr>
    {{/each}}
</table>

<br>
<br>
<table class="lostfoundTables" id="foundTableDisplay" style="width:100%">
    <h8>Items That Were Found</h8>
    <tr>
        <th>Found Item ID</th>
        <th>Category</th>
        <th>Subcategory</th>
        <th>Size</th>
        <th>Color</th>
        <th>Location</th>
        <th>Description</th>
        <th>Claim?</th>
    </tr>
    {{#each foundItems}}
    <tr>
        <td>{{this.id}}</td>
        <td>{{this.category}}</td>
        <td>{{this.subcategory}}</td>
        <td>{{this.size}}</td>
        <td>{{this.color}}</td>
        <td>{{this.location}}</td>
        <td>{{this.description}}</td>
        <td>
            <button id="claim-btn-fn"  class = "claim-btn-found"  value="{{this.id}}" type="submit">This is Mine</button>
        </td>
    </tr>
    {{/each}}
</table>

{{!-- ///////////////////////////////////////Modal////////////////////////////////////////// --}}
  
    <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Developer Team Members - Coding Bootcamp-Project 2-University of Toronto</h5>
                </h5>


                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6 ml-auto">
                                <!-- ////////////////////First Profile///////////////// -->
                                <img src="/assets/img/Aboozar-Mojdeh.jpg" alt="..." class="img-thumbnail">
                                <a href="https://github.com/aboozarmojdeh" target="_blank">Aboozar Mojdeh</a>
                            </div>
                            <hr>
                            <!-- ////////////////////Second Profile///////////////// -->
                            <div class="col-md-6 ml-auto">
                                <img src="/assets/img/Sujata-Jhavery.png" alt="..." class="img-thumbnail">
                                <a href="https://github.com/Sujata1" target="_blank">Sujata Jhavery</a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 ml-auto">
                                <!-- ////////////////////Third Profile///////////////// -->
                                <img src="/assets/img/Neha-Pathak.jpg" alt="..." class="img-thumbnail">
                                <a href="https://github.com/pathak-neha" target="_blank">Neha Pathak</a>
                            </div>
                            <div class="col-md-6 ml-auto">
                                <!-- ////////////////////Fourth Profile///////////////// -->
                                <img src="/assets/img/Karen-Kua.jpg" alt="..." class="img-thumbnail">
                                <a href="https://github.com/azukimochi" target="_blank">Karen Kua</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

<!-- ///////////////////////////////FOOTER///////////////////////////////////////////////// -->

<!-- ///////////////////////////////FOOTER///////////////////////////////////////////////// -->
    <footer class='page-footer font-small blue pt-4' style='text-align: center'>

        <div class='container-fluid text-center'>
            <ul class='list-inline'>
                <li class='list-inline-item'><a href='index'>Home</a></li>
                <li class='list-inline-item'><a href='lost'>Report an Item You Lost</a></li>
                <li class='list-inline-item'><a href='found'>Report an Item You Lost</a></li>
            </ul>
        </div>

        <div class='footer-copyright text-center py-3'>© 2018 Copyright:
            <a a href="https://github.com/aboozarmojdeh" target="_blank" data-toggle="modal" data-target=".bd-example-modal-lg"> Lost and Found</a>
        </div>
    </footer>
<script>
    var subcategory = {
        Electronics: ['Mobile(apple)', 'Mobile(android)', 'laptop', 'tablet', 'earbuds/ headphones', 'computer accessories'],
        Wallet: ['Wallet only', 'Wallet with IDs', 'IDs only'],
        Clothing: ['Shirt', 'Jacket', 'Pants', 'Skirt'],
        Accessories: ['Shoes', 'Hat', 'Scarf', 'Mittens/ Gloves', 'Jewellery/ Watches', 'Bag/ Purse/ Case'],
        Documents: ['Book', 'Notes'],
        Other: ["Must be clarified in item description section"]
    };

    function makeSubmenu(value) {
        if (value.length == 0) document.getElementsById('categorySelect').innerHTML = '<option></option>';
        else {
            var categoryOptions = '';
            for (categoryId in subcategory[value]) {
                categoryOptions += '<option>' + subcategory[value][categoryId] + '</option>';
            }
            document.getElementById('categorySelect').innerHTML = categoryOptions;
        }
    }
    function resetSelection() {
        document.getElementById('category').selectedIndex = 0;
        document.getElementById('categorySelect').selectedIndex = 0;
    }
</script>